<% include partial/header %>

<div id="biblio">
	
</div>

<script type="text/javascript">
	var page = 1;
	var rdy = true;
	function makeTulle(elem) {
		var div = document.createElement('div'),
			img = document.createElement('img'),
			link = document.createElement('a'),
			sco = document.createElement('span'),
			lab = document.createElement('label');

		link.setAttribute('class', 'col-lg-3 col-sm-6 col-xs-6 col-md-3 text-center')
		link.setAttribute('href', 'video/' + elem['imdb_id']);
		sco.innerText = elem['rate'];
		sco.setAttribute('style', 'position:absolute;top:4px;left:0px;');
		sco.setAttribute('class', 'stars');
		img.setAttribute('class', 'col-lg-12 col-sm-12 col-xs-12 col-md-12');
		img.setAttribute('src', elem['cover']);
		if (elem.seen)
			img.setAttribute('style', 'opacity:0.5;');
		lab.setAttribute('class', 'text-center');
		lab.innerText = elem['title'] + " : " + elem['year'];
		div.appendChild(sco);
		div.appendChild(img);
		div.appendChild(lab);
		link.appendChild(div);
		biblio.appendChild(link);
	};

	var xhr = new XMLHttpRequest(),
		biblio = document.getElementById('biblio');

	xhr.onreadystatechange = function() {
		if (xhr.readyState == 4 && (xhr.status == 200 || xhr.status == 0)) {
			if (xhr.responseText == '') {
				rdy = false;
				return;
			}
			let data = JSON.parse(xhr.responseText);
			data.forEach(elem => {
				makeTulle(elem);
			});
	 	}
	}
	function requestPage(page) {
		xhr.open("post", "/biblio", true);
		xhr.setRequestHeader("Content-Type", "application/json");
		xhr.send(JSON.stringify({page:page}));
	}
	$(document).ready(function(){
		requestPage(page);
			page++;
	})
	$(window).scroll(function(){
		if (!rdy) return;
		if (window.innerHeight + $(window).scrollTop()== $(document).height()) {
			rdy = false;
			requestPage(page);
			page++;
			rdy = true;
		}
	});
</script>

<% include partial/footer %>