<% include partial/header %>

<br/><br/>
<div class="container-fluid">
	<div class="jumbotron col-xs-offset-2 col-xs-8">
		<div class="row text-center">
			<legend><%= translate.passwd%></legend>
		</div>
		<br/>
		<div class="row text-center">	
			<label class="control-label"><%= translate.mailddr + " :"%></label>
		</div>
		<div class="row text-center">
			<div class="col-xs-offset-2 col-xs-8 text-center">
				<input id="email_to_reset" type="mail" class="form-control text-center" name="mail" value=""/>
			</div>
		</div>
		<br/>
		<div class="row text-center">
			<input type="submit" id="reset" class="btn btn-primary" value="<%=translate.reset %>"/>
		</div>
	</div>
</div>

<script type="text/javascript">
	$("#reset").click(function () {
		var mail = document.getElementById('email_to_reset');
		$.post("http://localhost:3000/reset", { mail: $('#email_to_reset').val() }, function(ret) {
			if (ret === 'OK') {
				window.location.href = '/login';
			}
		});
	});
</script>


<% include partial/footer %>