@font-face {
	font-family: 'Allura';
	src: url('../font_family/Allura-Regular.otf');
}

html {
	background: url("../res/wall.png") no-repeat center fixed;
	background-size: cover;
	
}

.full{
	width: 100%;
	height: 100%;
	border: 1px black solid;
}

/*home.php*/
h1.home {
	text-align: center;
	font-size: 5vw;
}

div.home {
	text-align : center;
	margin-top: 15%;
}

/*gallery.php*/

h1.gallery {
	font-family: Allura;
	text-align: center;
	font-size: 6vw;
}


.button_log {
	text-align: center;
	width: 12vw;
}

img.co {
	width: 5vw;
	height: 5vw;
}

p.cur_user {
	text-align: center;
}

/*mounting.php*/

#canvas {
	visibility: hidden;
}

.hmont {
	border: 1px black solid;
	height: 5vw;
	width: 100%;
}

.flexm {
	display: flex;
	width: 100%;
	align-content: center;
	justify-content: space-around;
}

.main {
	border : black 1px solid;
	width: 30vw;
	height: 30vw;
}

.side {
	border: black 1px solid;
	width: 15vw;
	height: 30vw;
}

.apercu {
	width: 60%;
	height: 20vw;
	border: 1px black solid;
	margin: auto;
}

.footer {
	border: 1px black solid;
	height: 5vw;
	width: 100%;
}