@font-face {
	font-family: 'Allura';
	src: url('../font_family/Allura-Regular.otf');
}

html {
	background-image: url("../res/wall.png");
}

h1.home {
	text-align: center;
	font-size: 5vw;
}

h1.gallery {
	font-family: Allura;
}

div.home {
	text-align : center;
	margin-top: 15%;
}

