@font-face {
	font-family: 'Allura';
	src: url('../font_family/Allura-Regular.otf');
}

html {
	background: url("../res/wall.png") no-repeat center fixed;
	background-size: cover;
	
}

h1.home {
	text-align: center;
	font-size: 5vw;
}

h1.gallery {
	font-family: Allura;
}

div.home {
	text-align : center;
	margin-top: 15%;
}

div.hmont {
	border: 1px black solid;
	height: 5vw;
	width: 100%;
}

div.main {
	border: 1px black solid;
	height: 60vw;
	width : 70%;
}

div.side{
	border: 1px black solid;
	height: 60vw;
	width: 30%;
}

div.footer {
	border: 1px black solid;
	height: 5vw;
	width: 100%;
}

div.center {
	height: 100%;
	width: 100%;
}